<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Register 
    </ion-title>
    <ion-button fill="clear" color="dark" slot="start" (click)="goBack()"> <ion-icon name="arrow-back"></ion-icon> </ion-button>
    <!-- <ion-back-button slot="start"></ion-back-button> -->
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="ion-no-margin">
    <ion-card-header class="section-coffee">
      
      <img src="../../assets/images/img6.png" alt="coffee" class="coffee-img">

    </ion-card-header>

    <ion-card-content>
      <ion-item class="item-has-focus ion-touched">
        <ion-input type="text" fill="solid" label="Nom & prenom" labelPlacement="floating" ></ion-input>
      </ion-item>
  
      <ion-item  class="item-has-focus ion-touched">
        <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" ></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-input type="password" fill="solid" label="Password" labelPlacement="floating"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-button class="btns" fill="clear" slot="end"> Forget password?</ion-button>
      </ion-item>

      <ion-button class="btn-register" shape="round" fill="solid" expand="block" routerLink="/tabs/tab5"> Register </ion-button>

      <ion-button class="btn-login" shape="round"  expand="block" routerLink="/login"> login</ion-button>

      <!-- <ion-item href="https://www.ionicframework.com">
        Register
      </ion-item> -->


    </ion-card-content>
  </ion-card>
</ion-content>