
<ion-content>
  <ion-card class="ion-no-margin">
    <img alt="Silhouette of mountains" src="../../assets/images/img2.png"/>
    <ion-card-header>
      <ion-card-title>Get the best coffee in town!</ion-card-title>
    
    </ion-card-header>
  
    <ion-card-content>
      <div class="btns">
        <ion-button fill="solid" shape="round" class="register-button" routerLink="/register">Register</ion-button>

        <ion-button fill="solid" shape="round" class="login-button" routerLink="/login">Login</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
